.header-text {
   color: #EAD7D7;
   font-size: 70px;
   font-weight: 500;
}

.input-todo {
   width: 96%;
   height: 50px;
   font-size: 24px;
   padding: 16px 16px 16px 60px;
   border: solid 1px rgba(0, 0, 0, 0.3);
   background: rgba(0, 0, 0, 0.03);
   box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
   outline: rgba(0, 0, 0, 0.03);
}

.to-do-item-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: solid 1px rgba(0, 0, 0, 0.2);
   margin-bottom: 8px;
}

.toggle {
   position: relative;
   text-align: center;
   border-radius: 50%;
   border: 1px solid #ccc;
   padding: 20px;
   height: 30px;
   margin-right: 20px;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   outline: none;
}

.toggle[type="checkbox"]:checked::before {
   content: '\2713';
   font-size: 24px;
   color: #6ed750;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.completed {
   text-decoration: line-through #D9D9D9;
   color: #D9D9D9;
   margin: 0;
}

.footer-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: 0 20px;
}

.footer-container a {
   margin-right: 20px;
   padding: 3px 7px;
   text-decoration: none;
   border: 1px solid transparent;
   border-radius: 3px;
   color: #777777;
}

.footer-container a:focus {
   border-color: rgba(175, 47, 47, 0.2);
}

.check-all {
   position: absolute;
   font-size: 24px;
   margin-top: 30px;
   margin-left: 10px;
   color: #737373;
   cursor: pointer;
}

.check-all:hover {
   color: #000;
}

.input-edit {
   border: none;
   font-size: 20px;
   width: 100%;
   outline: none;
   width: 600px;
}

.save-button,
.cancel-button {
   padding: 5px 10px;
   margin-right: 10px;
   cursor: pointer;
   border-radius: 5px;
}

.save-button {
   background-color: #4caf50;
   color: #fff;
}

.cancel-button {
   background-color: #e6360a;
   color: #fff;
}

.dark-theme {
   background-color: #333;
   color: #fff;
}

.theme-toggle-button {
   background-color: #4caf50;
   color: #fff;
   border: none;
   padding: 10px 15px;
   margin-left: 10px;
   cursor: pointer;
   border-radius: 5px;
}

.theme-toggle-button:hover {
   background-color: #45a049;
}

.dark-header h1{
   color: #e6360a;
}
.dark-header .check-all{
   color: #fff;
}
.dark-header .input-todo{
   color: #fff;
   border: solid 1px rgba(255, 255, 255, 0.3);
   background: rgba(255, 255, 255, 0.03);
   box-shadow: inset 0 -2px 1px rgba(255, 255, 255, 0.03);
   outline: rgba(255, 255, 255, 0.03);
}
.dark-option a {
   color: #fff;
}
.dark-option a:focus {
   border: 1px solid #6ed750;
   border-radius: 3px;
}